<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    >


    <application android:name=".MainApplication">

        <activity
            android:name=".expandedcontrols.ExpandedControlsActivity"
            android:theme="@style/AppTheme"

            />

        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="app.fedilab.android.peertube.provider.CastOptionsProvider" />

    </application>


</manifest>