<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="app.fedilab.android">


    <application android:name=".MainApplication">
        <receiver
            android:name=".services.EmbeddedDistrib"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="org.unifiedpush.android.distributor.REGISTER" />
                <action android:name="org.unifiedpush.android.distributor.UNREGISTER" />
            </intent-filter>
        </receiver>
    </application>
</manifest>